.countdown{
  font-size: 180px;
  font-family: digitalNumbers, sans-serif, monospace;
  color:#e01515;
}

@font-face {
  font-family: digitalNumbers;
  src: url('../fonts/DigitalNumbers-Regular.ttf');
}